In [5]:
import pandas as pd
import numpy as np
import ast 
import datetime

In [11]:
file='sars_2003_complete.csv'
df_sars = pd.read_csv(file)
# datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
df_sars['Date'] # = df_sars.apply(lambda row: datetime.strptime(row['DATE'], '%d/%m/%y'), axis=1)
df_sars['day'] = df_sars.apply(lambda row: int(row['Date'].split('/')[0]), axis =1)
df_sars['month'] = df_sars.apply(lambda row: int(row['Date'].split('/')[1]), axis =1)
df_sars['year'] = df_sars.apply(lambda row: int(row['Date'].split('/')[2])+2000, axis =1)
df_sars.groupby(['year']).sum()

,Cumulative number of case(s),Number of deaths,Number recovered,day,month
year,,,,,
2003,556360,45209,341814,39467,12946